@using Umbraco7Demo.Core

@model IEnumerable<ICheque>

@DisplayCheques(Model)

@helper DisplayCheques(IEnumerable<ICheque> cheques)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Amount</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in cheques)
            {
                <tr>
                    <td>@item.ChequeName</td>
                    <td>@item.ChequeDate.ToString("yyyy-MM-dd")</td>
                    <td>@item.ChequeAmount.ToString("C")</td>
                    <td><a href="@((item as Zoombraco.Models.Page).Url)">View</a></td>
                </tr>
            }
        </tbody>
    </table>
}