@using Umbraco7Demo.Core
@model ICheque

@DisplayCheque(Model)

@helper DisplayCheque(ICheque cheque)
{
    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>@cheque.ChequeName</dd>
        <dt>Date</dt>
        <dd>@cheque.ChequeDate.ToString("yyyy-MM-dd")</dd>
        <dt>Amount</dt>
        <dd>@cheque.ChequeAmount.ToString("C")</dd>
        <dt>Pay</dt>
        <dd>@CurrencyHelper.AmountToText(cheque.ChequeAmount).ToUpper()</dd>
    </dl>
}

@if (Request.UrlReferrer != null)
{
    <a class="bottomNav" onclick="history.go(-1); return false;" href="#">Back</a><br />
}